apiVersion: batch/v1
kind: CronJob
metadata:
  name: composer-update
spec:
  schedule: "{{ .Values.apps.sckanner.composer.cronjob.schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: composer-update
            image: {{ .Values.apps.sckanner.image }}
            imagePullPolicy: IfNotPresent
            command:
            - python 
            - manage.py 
            - update_knowledge_statements
            env:
            - name: CH_CURRENT_APP_NAME
              value: {{ .Values.apps.sckanner.harness.name | quote }}
              {{- include "deploy_utils.env" .root | nindent 8 }}
              {{- include "deploy_utils.privenv" .root | nindent 8 }}
              {{- if .Values.apps.sckanner.harness.env }}
                {{- .Values.apps.sckanner.harness.env | toYaml | nindent 8 }}
              {{- end }}
            volumeMounts:
            - name: cloudharness-allvalues
              mountPath: /opt/cloudharness/resources
              readOnly: true
          restartPolicy: OnFailure
          volumes:
          - name: cloudharness-allvalues
            configMap:
              name: cloudharness-allvalues