harness:
  database: 
    auto: true
    type: postgres
    postgres:
      image: postgres:14
  dependencies:
    build: [cloudharness-frontend-build, cloudharness-django]
    hard: [accounts]
  deployment:
    auto: true
    port: 8080
  livenessProbe: {path: /api/live}
  readinessProbe: {path: /api/ready}
  secured: true
  service: {auto: true, port: 8080}
  subdomain: www
  uri_role_mapping:
  - uri: /*
    white-listed: true
