name: Run Unit Tests and Lint Files
on: push

jobs:
  unit_test-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 18.19
      - working-directory: ./applications/frontend
        name: Install, Build and Test
        run: |
          yarn
          yarn run build
          yarn run test
